APP_TYPE=stage
MAX_GAMES=
ENABLE_EPIC=false
ENABLE_STEAM=true
EPIC_LOCALE=ru-RU
EPIC_COUNTRY=UA
EPIC_ALLOW_COUNTRIES=UA

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=free_games
MYSQL_USER=free_games_bot
MYSQL_PASSWORD=

BOT_TOKEN=
CHAT_ID=

BOT_TOKEN_DEV=
CHAT_ID_DEV=
TELEGRAM_CHANNEL_USERNAME=free_games7722
