APP_TYPE=stage
MAX_GAMES=
ENABLE_EPIC=false
ENABLE_STEAM=true
EPIC_LOCALE=ru-RU
EPIC_COUNTRY=UA
EPIC_ALLOW_COUNTRIES=UA
EPIC_CATALOG_MODE=reader
EPIC_CATALOG_PAGE_SIZE=40
EPIC_GRAPHQL_ENDPOINT=
EPIC_READER_ENDPOINT=https://r.jina.ai/http://store.epicgames.com/browse

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=free_games
MYSQL_USER=free_games_bot
MYSQL_PASSWORD=

BOT_TOKEN=
CHAT_ID=

BOT_TOKEN_DEV=
CHAT_ID_DEV=
TELEGRAM_CHANNEL_USERNAME=free_games7722
